:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
}

body {
  min-width: 320px;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}
